<div>
    <h1 class="tituloPrincipal">Lista de componentes:</h1>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/css/estilos.css"></script>